

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      font-size: 14px;
      line-height: 1.75;

      background-image: url('../img/goku_kamehameha_ssj4.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }



    .global-navbar {
      grid-row-gap: 6px;
    }

    .sidebar {
      zoom: 1;
      width: 280px;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      background: rgba(13, 103, 151, 0.75);
      border-right: 2px solid #ff8f06;
      font-size: 14px;
      transform-origin: left top;
    }

    .sidebar * {
      font-size: inherit !important;
    }


    .sidebar .nav-link:hover {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #ffffff;
      font-weight: 500;
      padding: 10px 12px;
      border-radius: 6px;
      transition: all 0.25s ease-in-out;
      background: linear-gradient(90deg, #ffea00, #ff8c00);
      box-shadow: 0 0 15px #ffea00;
    }

    .sidebar .fs-4 {
      font-weight: 700;
      text-shadow: 1px 1px 4px #000;
    }

    .sidebar .nav-link.active {
      background: #ff8383;
      color: #000 !important;
      font-weight: 700;
      box-shadow: 0px 0px 10px #ff8383;
    }

    .content-area {
      flex-grow: 1;
      padding: 30px;
      margin-left: 280px;
    }

    .search-bar {
      background-color: #ff8f06;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
      background-color: #ff8f06;
      text-decoration-color: #1a1a1a !important;
      color: #040404 !important;
}

    .img-page {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      block-size: auto;
    }

    .page {
      color: #ffffff;
      border-radius: 3px;
      min-height: 480px;
      padding: 24px 36px;
      position: relative;
    }

    .page_main {
      opacity: 0.9;
      background-color: #cf7b0d;
      border-radius: 3px;
      min-height: 480px;
      padding: 24px 36px;
      position: relative;
      border: #040404 1px solid;
    }

    .page .page_main {
      height: 100%;
    }

    *, ::after, ::before {
  box-sizing: inherit;
}

    .table {
      align-content: center;
    }

    #home-menu a {
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom,#8b8181,#cf7b0d 70%) repeat scroll 0 0;
      border: 1px solid #ffffff;
      border-radius: 5px;
      color: #eee;
      display: block;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      width: 125px;
    }


    .background-img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;    
      height: 100%;
      object-fit: cover;
      opacity: 0.3;
      z-index: -1;
    }

    .info-section {
      position: relative;
      z-index: 1;
    }

    .info-section h6 {
      margin-bottom: 8px;
      color: #ffffff; 
      text-align: center;
      border-bottom: white 1px solid;
    }

    .info-section a {
      color: #ffffff; 
      font-size: 14px; 
      text-decoration: none;
    }

    @media screen {
      .sidebar {
        position: fixed;
        left: 0;
        top: 0;
      }

      .content-area {
        margin-left: 280px;
      }
    }

    